<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>webapp</display-name>
  <welcome-file-list>
    <welcome-file>form.html</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>FirstServlet</servlet-name>
    <servlet-class>com.oracle.FirstServlet</servlet-class>
  </servlet>
  <servlet-mapping>
     <servlet-name>FirstServlet</servlet-name>
     <url-pattern>/FirstServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SecondServlet</servlet-name>
    <servlet-class>com.oracle.SecondServlet</servlet-class>
  </servlet>
  <servlet-mapping>
     <servlet-name>SecondServlet</servlet-name>
     <url-pattern>/SecondServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ThirdServlet</servlet-name>
    <servlet-class>com.oracle.ThirdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
     <servlet-name>ThirdServlet</servlet-name>
     <url-pattern>/ThirdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FourthServlet</servlet-name>
    <servlet-class>com.oracle.FourthServlet</servlet-class>
  </servlet>
  <servlet-mapping>
     <servlet-name>FourthServlet</servlet-name>
     <url-pattern>/FourthServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.oracle.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
     <servlet-name>LoginServlet</servlet-name>
     <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <!-- <servlet>
    <servlet-name>CustomerServlet</servlet-name>
    <servlet-class>com.oracle.CustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
     <servlet-name>CustomerServlet</servlet-name>
     <url-pattern>/CustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PaymentServlet</servlet-name>
    <servlet-class>com.oracle.PaymentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
     <servlet-name>PaymentServlet</servlet-name>
     <url-pattern>/PaymentServlet</url-pattern>
  </servlet-mapping> -->
</web-app>